<div class="row justify-content-md-center">
  <div class="col-md-auto">
    <h2 class="text-center">
      Kontakt
    </h2>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-md-auto">
    <h3>Mitteilung an den Ski- und Wanderclub Melchtal</h3>
    <p>
      Für Briefpost und telefonischen Kontakt wenden Sie sich bitte direkt an ein <a routerLink="/vorstand">Vorstands-Mitglied</a>.
    </p>
    <form action="https://formspree.io/scmelchtal@gmail.com" method="post">
      <div class="form-group">
        <input type="hidden" name="_language" value="de"/>
      </div>
      <div class="form-group">
        <label for="name">Mein Name</label>
        <input type="text" class="form-control" name="Name" id="name"/>
      </div>
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input type="email" class="form-control" name="Email" id="email"/>
      </div>
      <div class="form-group">
        <label for="adresse">Adresse</label>
        <input type="text" class="form-control" name="Adresse" id="adresse"/>
      </div>
      <div class="form-group">
        <label for="ort">PLZ Ort</label>
        <input type="text" class="form-control" name="Ort" id="ort"/>
      </div>
      <div class="form-group">
        <label for="telefon">Telefon</label>
        <input type="text" class="form-control" name="Telefon" id="telefon"/>
      </div>
      <div class="form-group">
        <label for="betreff">Betreff</label>
        <input type="text" class="form-control" name="Betreff" id="betreff"/>
      </div>
      <div class="form-group">
        <label for="mitteilung">Mitteilung</label>
        <textarea name="Mitteilung" class="form-control" id="mitteilung" rows="5"></textarea>
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block">Absenden</button>
    </form>
  </div>
</div>
