<h2 id="toptitle">
  Kontakt
</h2>
<div id="text">
  <p>
    Mitteilung an den Ski- und Wanderclub Melchtal:
  </p>
  <p>
    Für Briefpost und telefonischen Kontakt wenden Sie sich bitte direkt an ein <a routerLink="/vorstand">Vorstands-Mitglied</a>.
  </p>
  <br/>
  <br/>
  <form action="https://formspree.io/scmelchtal@gmail.com" method="post">
    <input type="hidden" name="_language" value="de"/>

    <table border="0" cellspacing="0" cellpadding="0">


      <tr>
        <td><label for="name">Mein&nbsp;Name</label>&nbsp;&nbsp;</td>
        <td>
          <input type="text" name="Name" id="name" size="35" maxlength="70" class="fieldwith"/>
        </td>
      </tr>
      <tr>
        <td><label for="email">E-Mail</label></td>
        <td>
          <input type="text" name="Email" id="email" size="35" class="fieldwith"/>
        </td>
      </tr>
      <tr>
        <td><label for="adresse">Adresse</label></td>
        <td>
          <input type="text" name="Adresse" id="adresse" size="35" class="fieldwith"/>
        </td>
      </tr>
      <tr>
        <td><label for="ort">PLZ Ort</label></td>
        <td>
          <input type="text" name="Ort" id="ort" size="35" class="fieldwith"/>
        </td>
      </tr>
      <tr>
        <td><label for="telefon">Telefon</label></td>
        <td>
          <input type="text" name="Tel-Fax" id="telefon" size="35" class="fieldwith"/>
        </td>
      </tr>

      <tr>
        <td colspan="2">&nbsp;
          <br/>
          &nbsp;
        </td>
      </tr>

      <tr>
        <td><label for="betreff">Betreff</label></td>
        <td>
          <input type="text" name="Betreff" id="betreff" size="35" class="fieldwith"/>
        </td>
      </tr>

      <tr>
        <td colspan="2">&nbsp;
          <br/>
          &nbsp;
        </td>
      </tr>

      <tr valign="top">
        <td><label for="mitteilung">Mitteilung</label></td>
        <td class="inputfld"><textarea cols="33" rows="8" name="Mitteilung" id="mitteilung"
                                       class="fieldwith"></textarea></td>
      </tr>

      <tr>
        <td colspan="2">&nbsp;
          <br/>
          &nbsp;
        </td>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td>
          <input type="submit" value="Absenden"/>
          &nbsp;
          <input type="reset" value="Löschen"/>
        </td>
      </tr>
    </table>
  </form>

</div>
