<div class="row justify-content-md-center">
  <div class="col-md-auto">
    <h2 class="text-center">
      Links
    </h2>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-md-auto">
    <table border="0" cellspacing="0" cellpadding="0">

      <tr>
        <td colspan="3"><strong>Skiklubs, Verbände</strong></td>
      </tr>
      <tr valign="top">
        <td><a href="http://www.sckerns.ch/" onclick="window.open(this.href); return false;"
               title="Link in neuem Fenster">www.sckerns.ch</a></td>
        <td>&nbsp; &nbsp; &nbsp;</td>
        <td>Ski- und Bergclub Melchsee-Frutt Kerns</td>
      </tr>
      <tr valign="top">
        <td><a href="http://www.sc-flueli-ranft.ch/" onclick="window.open(this.href); return false;"
               title="Link in neuem Fenster">www.sc-flueli-ranft.ch</a></td>
        <td>&nbsp; &nbsp; &nbsp;</td>
        <td>Skiclub Flüeli-Ranft</td>
      </tr>
      <tr valign="top">
        <td><a href="http://www.swiss-ski.ch/" onclick="window.open(this.href); return false;"
               title="Link in neuem Fenster">www.swiss-ski.ch</a></td>
        <td>&nbsp; &nbsp; &nbsp;</td>
        <td>Swiss-Ski Dachverband</td>
      </tr>
      <tr valign="top">
        <td><a href="http://www.zssv.ch/" onclick="window.open(this.href); return false;" title="Link in neuem Fenster">www.zssv.ch</a>
        </td>
        <td>&nbsp; &nbsp; &nbsp;</td>
        <td>Zentralschweizer Skiverband</td>
      </tr>
      <tr valign="top">
        <td><a href="http://www.owsv.ch/" onclick="window.open(this.href); return false;"
               title="Link in neuem Fenster">www.owsv.ch</a></td>
        <td>&nbsp; &nbsp; &nbsp;</td>
        <td>Obwaldner Skiverband</td>
      </tr>

      <tr>
        <td colspan="3">&nbsp;
          <br/>
          <strong>Skigebiete, Tourismus</strong></td>
      </tr>
      <tr valign="top">
        <td><a href="https://www.melchsee-frutt.ch/" onclick="window.open(this.href); return false;"
               title="Link in neuem Fenster">www.melchsee-frutt.ch</a></td>
        <td>&nbsp; &nbsp; &nbsp;</td>
        <td>Alles über Melchsee-Frutt von offizieller Seite</td>
      </tr>
      <tr valign="top">
        <td><a href="https://www.melchsee-frutt.com/" onclick="window.open(this.href); return false;"
               title="Link in neuem Fenster">www.melchsee-frutt.com</a></td>
        <td>&nbsp; &nbsp; &nbsp;</td>
        <td>Alles über Melchsee-Frutt von einer privaten Initiative</td>
      </tr>

    </table>
    <br/>
    <br/>
    <br/>
  </div>
</div>
