<div style="display: inline-block; width: 200px; height: 200px">
  <img src="{{vorstandsmitglied.avatar.url}}"
       alt="{{vorstandsmitglied.role}}: {{vorstandsmitglied.nachname}} {{vorstandsmitglied.vorname}}"
  />
</div>
<div style="display: inline-block; vertical-align: top"><strong>{{vorstandsmitglied.role}}</strong>
  <div>{{vorstandsmitglied.nachname}} {{vorstandsmitglied.vorname}}</div>
  <div>{{vorstandsmitglied.strasse}}</div>
  <div>{{vorstandsmitglied.zipcode}} {{vorstandsmitglied.location}}</div>
  <div *ngIf="vorstandsmitglied.mobile">Mobile: <a href="tel:{{vorstandsmitglied.mobile}}">{{vorstandsmitglied.mobile}}</a></div>
  <div *ngIf="vorstandsmitglied.telefon">Festnetz: <a href="tel:{{vorstandsmitglied.telefon}}">{{vorstandsmitglied.telefon}}</a></div>
  <div *ngIf="vorstandsmitglied.email">e-Mail: <a href="mailto:{{vorstandsmitglied.email}}">{{vorstandsmitglied.email}}</a></div>
</div>
