<div class="row justify-content-md-center">
  <div class="col-md-auto">
    <h2 class="text-center">
      Willkommen beim Ski- und Wanderclub Melchtal
    </h2>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-md-12">

    <div *ngFor="let newsItem of news$ | async" id="home_news">
      <div class="card">
        <div class="card-header">
          <h3 class="text-left" style="display: inline-block">{{newsItem.title}}</h3>
          <div class="float-md-right float-sm-left">Datum: {{newsItem.created | date : 'shortDate'}}</div>
        </div>
        <div class="card-body">
          <p [innerHTML]="newsItem.text"></p>
          <a class="card-link" *ngIf="newsItem.attachement" href="{{newsItem.attachement.url}}"><mat-icon>get_app</mat-icon> {{newsItem.attachement.filename}}</a>
          <p class="card-text">
            <small class="text-muted">Author: {{newsItem.author.nachname}} {{newsItem.author.vorname}} ({{newsItem.author.role}})</small>
            <br class="d-sm-none" />
            <small class="float-md-right text-muted">Zuletzt geändert: {{newsItem.updated | date : 'shortDate'}}</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-md-6">
      <div class="card">
        <div class="card-header">Die nächsten Anlässe</div>
        <ul class="list-group">
          <li *ngFor="let event of ereignisse" class="list-group-item">
            {{event.dateFrom | date : 'fullDate'}} <span *ngIf="event.dateTo"> - {{event.dateTo | date : 'fullDate'}}</span>
            <br/>
            <strong>{{event.title}}</strong>
          </li>
        </ul>
        <div class="card-body">
          <a [routerLink]="['/programm']" class="card-link">Detailangaben siehe Programm</a>
        </div>
    </div>
  </div>

  <div class="col-md-6">

    <div class="card">
      <div class="card-header">
        Fotogalerie
      </div>
      <div class="card-body">
        <div class="card-text">
          Fotos von Anlässen, Oberwend usw.
        </div>
        <a routerLink="/gallerie" class="card-link">Fotos</a>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Der Vorstand
      </div>
      <div class="card-body">
        <div class="card-text">
          Adressen und Fotos der Vorstands-Mitglieder
        </div>
        <a routerLink="/vorstand" class="card-link">Vorstand</a>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Oberwend
      </div>
      <div class="card-body">
        <div class="card-text">
          Die Geschichte der Alphütte Oberwend
        </div>
        <a routerLink="/oberwend" class="card-link">Oberwend</a>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Mitteilungen
      </div>
      <div class="card-body">
        <div class="card-text">
          Eine Mitteilung an den Ski- und Wanderclub Melchtal senden
        </div>
        <a routerLink="/kontakt" class="card-link">Kontakt</a>
      </div>
    </div>
  </div>
</div>
