#home_news {
  padding-bottom: 30px;
}

#hometop {

}

#hometop li {
  padding-left: 0em;
  margin-left: 1.5em;
  margin-top: 3px;
  line-height: normal;
}

#homeleft {
  float: left;
  width: 240px;
}

#homeleft li {
  padding-left: 0em;
  margin-left: 1.5em;
  margin-top: 3px;
  line-height: normal;
}

#homeright {
  float: right;
  width: 240px;
}
