<h2 id="toptitle">
  Vorstand
</h2>
<div id="text">

  <table border="0" cellspacing="0" cellpadding="0">

    <tr valign="top">
      <td><img src="assets-static-img/vorstand/vorstand_vakant.jpg" width="180" height="180"
               alt="Stefan Frank" class="phborder"/>
        <br/>
        &nbsp;
        <br/>
        &nbsp;
        <br/>
        &nbsp;
      </td>
      <td>&nbsp; &nbsp; &nbsp;</td>
      <td><strong>Präsident</strong>
        <br/>
        &nbsp;
        <br/>
        Stefan Frank
        <br/>
        Fruttstrasse 45
        <br/>
        6067 Melchtal
        <br/>
        Nat. 078 788 25 55
        <br/>

    </tr>

    <tr valign="top">
      <td><img src="assets-static-img/vorstand/vorstand_cv.jpg" width="180" height="180"
               alt="Claudia Voser" class="phborder"/>
        <br/>
        &nbsp;
        <br/>
        &nbsp;
        <br/>
        &nbsp;
      </td>
      <td>&nbsp; &nbsp; &nbsp;</td>
      <td><strong>Aktuarin</strong>
        <br/>
        &nbsp;
        <br/>
        Claudia Voser
        <br/>
        Bahnhofplatz 1
        <br/>
        6060 Sarnen
        <br/>
        Nat. 079 673 21 47
        <br/>
        <a
          href='mailto&#58;c%6&#67;%&#54;1u&#100;i&#97;&#46;vo&#115;&#101;r&#64;&#98;&#108;uew&#105;n&#46;&#37;63&#104;'>&#69;&#45;&#77;&#97;&#105;&#108;</a>
      </td>
    </tr>

    <tr valign="top">
      <td><img src="assets-static-img/vorstand/vorstand_am.jpg" width="180" height="180"
               alt="Michel Adrian" class="phborder"/>
        <br/>
        &nbsp;
        <br/>
        &nbsp;
        <br/>
        &nbsp;
      </td>
      <td>&nbsp; &nbsp; &nbsp;</td>
      <td><strong>Technischer Leiter</strong>
        <br/>
        &nbsp;
        <br/>
        Michel Adrian
        <br/>
        Gartenstrasse 3
        <br/>
        6060 Sarnen
        <br/>
        Nat. 079 575 52 39
        <br/>
        <a href='mailto&#58;mich&#37;65%6C&#37;2&#68;&#37;61&#64;&#98;l&#117;&#101;wi&#37;&#54;E&#46;ch'>&#69;&#45;&#77;&#97;&#105;&#108;</a>
      </td>
    </tr>

    <tr valign="top">
      <td><img src="assets-static-img/vorstand/vorstand_vakant.jpg" width="180" height="180"
               alt="vakant" class="phborder"/>
        <br/>
        &nbsp;
        <br/>
        &nbsp;
        <br/>
        &nbsp;
      </td>
      <td>&nbsp; &nbsp; &nbsp;</td>
      <td><strong>Tourenleiter</strong>
        <br/>
        &nbsp;
        <br/>
        Vakant
    </tr>
    <tr valign="top">
      <td><img src="assets-static-img/vorstand/vorstand_marco_omlin.jpg" width="180"
               height="180" alt="Marco Omlin" class="phborder"/>
        <br/>
        &nbsp;
        <br/>
        &nbsp;
        <br/>
        &nbsp;
      </td>
      <td>&nbsp; &nbsp; &nbsp;</td>
      <td><strong>Materialverwalter</strong>
        <br/>
        &nbsp;
        <br/>
        Marco Omlin
        <br/>
        Weidli 4
        <br/>
        6067 Melchtal
        <br/>
        Tel. 041 669 00 54
        <br/>
        <a href="mailto:mauta@gmx.ch">&#69;&#45;&#77;&#97;&#105;&#108;</a></td>
    </tr>

    <tr valign="top">
      <td><img src="assets-static-img/vorstand/vorstand_pia_rohrer.jpg" width="180"
               height="180" alt="Pia Rohrer" class="phborder"/>
        <br/>
        &nbsp;
        <br/>
        &nbsp;
        <br/>
        &nbsp;
      </td>
      <td>&nbsp; &nbsp; &nbsp;</td>
      <td><strong>Kassiererin</strong>
        <br/>
        &nbsp;
        <br/>
        Pia Rohrer
        <br/>
        Walslistrasse 1
        <br/>
        6067 Melchtal
        <br/>
        Tel. 041 669 01 14
        <br/>
        Nat. 078 820 98 63
        <br/>
        <a
          href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#112;&#105;&#97;&#114;&#111;&#104;&#64;&#98;&#108;&#117;&#101;&#119;&#105;&#110;&#46;&#99;&#104;">&#69;&#45;&#77;&#97;&#105;&#108;</a>
      </td>
    </tr>

    <tr valign="top">
      <td><img src="assets-static-img/vorstand/vorstand_albert_von_rotz.jpg" width="180"
               height="180" alt="Albert von Rotz" class="phborder"/>
        <br/>
        &nbsp;
        <br/>
        &nbsp;
        <br/>
        &nbsp;
      </td>
      <td>&nbsp; &nbsp; &nbsp;</td>
      <td><strong>JO-Leiter</strong>
        <br/>
        &nbsp;
        <br/>
        Albert von Rotz
        <br/>
        Fruttstrasse 8
        <br/>
        6067 Melchtal
        <br/>
        Nat. 079 358 55 76
        <br/>
        <a
          href='&#109;a&#105;l&#116;&#111;&#58;&#97;l&#98;%65r%74%76&#111;n&#114;o%7&#52;z%40hot&#109;%6&#49;%69&#108;&#46;c&#111;m'>E-Mail</a>
      </td>
    </tr>

    <tr valign="top">
      <td><img src="assets-static-img/vorstand/vorstand_vakant.jpg" width="180" height="180"
               alt="Romy Affentranger Reinhard" class="phborder"/>
        <br/>
        &nbsp;
        <br/>
        &nbsp;
        <br/>
        &nbsp;
      </td>
      <td>&nbsp; &nbsp; &nbsp;</td>
      <td><strong>Beisitzerin</strong>
        <br/>
        &nbsp;
        <br/>
        Romy Affentranger Reinhard
        <br/>
      </td>
    </tr>

    <tr valign="top">
      <td><img src="assets-static-img/vorstand/vorstand9.jpg" width="180" height="180" alt=""
               class="phborder"/></td>
      <td>&nbsp; &nbsp; &nbsp;</td>
      <td><strong>Hüttenchef</strong>
        <br/>
        &nbsp;
        <br/>
        Hans Ifanger
        <br/>
        Chännel 10
        <br/>
        6067 Melchtal
        <br/>
        Tel. 041 669 12 73
        <br/>
        Nat. 079 683 56 82
        <br/>
        <a
          href="mailto:&#104;&#46;&#105;&#102;&#97;&#110;&#103;&#101;&#114;&#64;&#98;&#108;&#117;&#101;&#119;&#105;&#110;&#46;&#99;&#104;">E-Mail</a>
      </td>
    </tr>
  </table>

</div>
