<div class="container" style="background-color: ghostwhite">
  <div class="cotainer">
    <nav class="navbar navbar-expand-lg navbar-dark rounded-top">
      <a class="navbar-brand" [routerLink]="['/home']" (click)="navbarCollapsed = true"><img src="assets/logo-30.png" width="30" height="30" alt="" /></a>
      <h1>SC-Melchtal</h1>
      <button class="navbar-toggler" type="button" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div [ngbCollapse]="navbarCollapsed" class="navbar-collapse" id="navbarContent">
        <ul class="navbar nav mr-auto justify-content-md-center">
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/home']" (click)="navbarCollapsed = true">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/programm']" (click)="navbarCollapsed = true">Programm</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/gallerie']" (click)="navbarCollapsed = true">Fotos</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/jo']" (click)="navbarCollapsed = true">JO</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/oberwend']" (click)="navbarCollapsed = true">Oberwend</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/vorstand']" (click)="navbarCollapsed = true">Vorstand</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/archiv']" (click)="navbarCollapsed = true">Archiv</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/kontakt']" (click)="navbarCollapsed = true">Kontakt</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/links']" (click)="navbarCollapsed = true">Links</a>
          </li>

        </ul>
      </div>
    </nav>
  </div>
  <img class="img-fluid rounded-bottom" src="assets/scm-panorama-1200.jpg"/>


  <!--div class="row" id="titlegraph">
    <img src="assets-static-img/scm_ptitle1.png" width="215" height="215" alt=""/>
  </div-->

  <!--div class="row justify-content-md-center" id="top">
    <div class="col-md-auto">
      <h1 id="topscmtext">
        Ski- und Wanderclub Melchtal
      </h1>
    </div>
  </div-->
  <router-outlet></router-outlet>
  <div class="row justify-content-md-center">
    <div class="col-md-auto align-content-md-center">
      <img id="footer-img" class="mx-auto d-block" src="assets/logo-200.png" alt=""/>
    </div>
  </div>

</div>


