<!--The content below is only a placeholder and can be replaced.-->
<div id="boundingbox">

  <div id="titlegraph">
    <img src="assets-static-img/scm_ptitle1.png" width="215" height="215" alt=""/>
  </div>

  <div id="top">
    <h1 id="topscmtext">
      Ski- und Wanderclub Melchtal
    </h1>
    <div id="topmenu">
      <table class="menu">
        <tr>
          <td style="width: 92px; text-align: center;"><a routerLink="/home">HOME</a></td>
          <td style="width: 92px; text-align: center;"><a routerLink="/gallerie">FOTOS</a></td>
          <td style="width: 92px; text-align: center;"><a routerLink="/archiv">ARCHIV</a></td>
          <td style="width: 92px; text-align: center;"><a routerLink="/links">LINKS</a></td>
          <td style="width: 92px; text-align: center;"><a routerLink="/kontakt">KONTAKT</a></td>
        </tr>
      </table>
    </div>
  </div>

  <div id="main">
    <div id="menu">
      <div id="nav">
        <ul>
          <li>
            <a routerLink="/home" class="active"><span class="navdot">&#8226;&nbsp;</span>Home</a>
          </li>
          <li>
            <a routerLink="/programm"><span class="navdot">&#8226;&nbsp;</span>Programm</a>
          </li>
          <li>
            <a routerLink="/jo"><span class="navdot">&#8226;&nbsp;</span>JO</a>
          </li>
          <li>
            <a routerLink="/vorstand"><span class="navdot">&#8226;&nbsp;</span>Vorstand</a>
          </li>
          <li>
            <a routerLink="/oberwend"><span class="navdot">&#8226;&nbsp;</span>Oberwend</a>
          </li>
        </ul>
      </div>

      <p>
        &nbsp;
        <br/>
        &nbsp;
      </p>

      <div id="menutxt1">
        <strong style="color: #F30;">Ranglisten</strong>
        <!--br />
                    &ndash; <a id="rangliste_jo_2016" href="" type="application/pdf">Obwaldner JO-Meisterschaft 2016</a-->
        <br/>
        &ndash; <a id="rangliste_clubrennen_2018"
                   href="http://www.sc-melchtal.ch/dokumente/2018_SC_Melchtal_Rangliste_Klubrennen.pdf"
                   type="application/pdf">Clubrennen 2018</a>
        <br/>
        &ndash; <a id="rangliste_schuelerrennen_2018"
                   href="http://www.sc-melchtal.ch/dokumente/2018_SC_Melchtal_Rangliste_Kinderrennen.pdf"
                   type="application/pdf">Schülerrennen 2018</a>

      </div>

    </div>

    <router-outlet></router-outlet>

  </div>

  <div id="foot">
    <div id="footgraph">
      <img src="assets-static-img/scm-logo.png" width="207" height="200" alt=""/>
    </div>
  </div>

</div>


