<h2 id="toptitle">Gallerie</h2>
<div id="text">
  <mat-form-field>
    <mat-select [(value)]="selectedYear">
      <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="selectedGallery">
    <app-album *ngFor="let albumId of selectedGallery.albumIds" [albumId]="albumId"></app-album>
    <br/>
    <br/>
  </div>
  <!--cl-image *ngFor="let photo of photos" public-id="{{photo.public_id}}" >
    <cl-transformation width="400" crop="scale">
    </cl-transformation>
  </cl-image-->
</div>
