#event_dates {
  background-color: silver;
}

#event_from {
  padding-left: 5px;
  font-weight: bold;
}

#event_to span {
  padding-left: 5px;
  font-weight: bold;
}

#event_title {
  font-weight: bold;
  color: #000;
  background-color: #DDD;
  padding: 2px;
}

.material-icons {
  vertical-align: middle;
  padding-right: 10px;
}

#ereignis {
  margin-bottom: 20px;
}

#description {
  margin-bottom: 5px;
}
