.material-icons {
  vertical-align: middle;
  padding-right: 10px;
}

button {
  background-color: #334A97;
}

.past {
  background-color: gray;
}

#ereignis {
  margin-bottom: 20px;
}

.description {
  margin-bottom: 5px;
}
