import { AlbumFactory } from '../AlbumFactory';
#foreach($album in $albums.iterator())
import { $album.classname } from './$album.classname';
#end

export class AlbumRegistry {

static loadAlbums() {
#foreach($album in $albums.iterator())
AlbumFactory.registerAlbum(new ${album.classname}());
#end
}
}
