import { Album } from '../Album';
#foreach($album in $albums.iterator())
import { $album.classname } from './$album.classname';
#end

export class AlbumRegistry {

static loadAlbums(): Array
<Album> {
    const albumList = [
#foreach($album in $albums.iterator())
    new ${album.classname}(),
#end
    ];
    return albumList;
}
}
