import { Album } from '../Album';

export class $album.classname extends Album {
title = '$album.title';
date = new Date('$album.date');
gallery = [
#set ($first = true)
#foreach($image in $album.images)
    #if ($first == true)
        #set ($first = false)
    #else
    ,
    #end
{
small: Album.BASE_URL + '$image.small',
medium: Album.BASE_URL + '$image.medium',
big: Album.BASE_URL + '$image.big'
}
#end
];

public toString() {
return 'Album \"' + this.title + '\" (' + this.date.getFullYear() + ')';
}
}
