import { Gallery } from '../Gallery';

export class $gallery.classname extends Gallery {
title = '$gallery.title';
date = new Date('$gallery.date');
gallery = [
#set ($first = true)
#foreach($image in $gallery.images)
    #if ($first == true)
        #set ($first = false)
    #else
    ,
    #end
{
small: Gallery.BASE_URL + '$image.small',
medium: Gallery.BASE_URL + '$image.medium',
big: Gallery.BASE_URL + '$image.big'
}
#end
];

public toString() {
return 'Gallery \"' + this.title + '\" (' + this.date.getFullYear() + ')';
}
}
