{
"year": $gallery.year,
"albumIds": [
#set ($first = true)
#foreach($albumId in $gallery.albumIds)
    #if ($first == true)
    "$albumId"
        #set ($first = false)
    #else
    ,"$albumId"
    #end
#end
]
}