<h2 id="toptitle">
  JO (Jugend Organisation)
</h2>
<div id="text">
  <p>
    Seit etwa 10 Jahren wird unsere JO als Trainings-Gemeinschaft geführt. Die Zusammenarbeit mit dem SC Kerns
    funktioniert tadellos.
    <br/>
    &nbsp;
    <br/>
    &nbsp;
  </p>
  <img src="assets-static-img/jo/jo1.jpg" width="500" height="340" alt="" class="phborder"
       style="margin-left: -2px;"/>
  <br/>
  &nbsp;
  <br/>
  <img src="assets-static-img/jo/jo2.jpg" width="500" height="340" alt="" class="phborder"/>
  <br/>
  &nbsp;
  <br/>
  <img src="assets-static-img/jo/jo3.jpg" width="500" height="340" alt="" class="phborder"/>
</div>
