<div class="row justify-content-md-center">
  <div class="col-md-auto">
    <h2 class="text-center">
      JO (Jugend Organisation)
    </h2>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-md-auto">
    <p>
      Seit etwa 10 Jahren wird unsere JO als Trainings-Gemeinschaft geführt. Die Zusammenarbeit mit dem SC Kerns
      funktioniert tadellos.
      <br/>
      &nbsp;
      <br/>
      &nbsp;
    </p>
    <div class="text-center">
      <img class="img-fluid " src="assets-static-img/jo/jo1.jpg"/>
      <br/>
      &nbsp;
      <br/>
      <img class="img-fluid" src="assets-static-img/jo/jo2.jpg"/>
      <br/>
      &nbsp;
      <br/>
      <img class="img-fluid" src="assets-static-img/jo/jo3.jpg"/>
    </div>
  </div>
</div>

