/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

:root {
  --main-bg-color: #334A97;
}

.mat-tab-group, mat-tab {
  transform: none !important;
}

body {
  background: #222;
}

.row {
  margin-bottom: 15px;
}

.card {
  margin-bottom: 10px;
}

.card-deck {
  margin-bottom: 10px;
}

.card-header {
  background: #334A97;
  color: white;
}

h3 {
  font-size: x-large;
  margin-bottom: 0em;
}

.navbar-brand {
  margin-right: 0rem;
}

.navbar-toggler {
  padding: 0.25rem;
}

/* Fix for IE 11 Responsive Bug */
.news {
  width: 100%;
}
